@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

p{
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

ul{
    font-family: "Lato", sans-serif;
    font-size: 20px;
}


.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen1 img{
    width: 100px;
    height: 100px;
}

.imagen2 img{
    width: 100px;
    height: 100px;
}

.imagen3 img{
    width: 100px;
    height: 100px;
}

.btn-group{
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}